html{height: 100%; width: 100%;}
body{background: #e5c6b1; font-family:Verdana, Geneva, Tahoma, sans-serif; height: 100%; width: 100%;}
.menu h1{color:rgb(245, 232, 214)}
h1{ text-align: center;}
.logreg{position: absolute; margin: auto; top: 0; bottom: 0; right: 0; left: 0; height: 100px; width: 100px; border-radius: 3px;}
.recipes{display: flex; border: 5px solid #ad7954; border-radius: 3px; width: 100%;}
.recipesimg {position: relative; width: 20%; height: 20%; left: 80%; clear:both;} 
nav{background-color: #795134;} 
.bold{font-weight: bold;}
.respond{font-size: 45px; text-align: center;}
